html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

.inside-box {
  background-color: rgb(238,238,238);
  padding: 25px 1px 25px 1px;
  border-radius: 5px;
  margin: 30px 10px 30px 10px;
}

header {
  margin-top: 15px; 
}

.image {
 border-radius: 5px;
 background-color: rgb(255,255,255);
 padding: 5px;
}

figcaption {
  margin: 15px;
}

#tribute-info {
  margin-top: 50px;
}

ul li {
  margin: 15px;
}

span {
  font-weight: bold;
}

.opinion {
  padding: 10px 10px 0 35px;
}

cite {
  font-size: 75%;
  color: rgb(119,119,119);
  font-style: italic;
}